<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677228271448-n0g82j2sbn3qq1rute89eqlm6n3e86kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677228271448-n0g82j2sbn3qq1rute89eqlm6n3e86kb</string>
	<key>API_KEY</key>
	<string>AIzaSyBi_qxJaVqsGkuoFXbU-5mLnUk3XRjbEvY</string>
	<key>GCM_SENDER_ID</key>
	<string>677228271448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glowy1</string>
	<key>PROJECT_ID</key>
	<string>bossam-e675e</string>
	<key>STORAGE_BUCKET</key>
	<string>bossam-e675e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677228271448:ios:6f1b57380273a4f367f72d</string>
</dict>
</plist>